use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
# 使用 mix phx.gen.secret 產生 secret_key_base
# 記得改掉 project_name
config :project_name, ProjectName.Endpoint,
  secret_key_base: ""

# Configure your database
config :project_name, ProjectName.Repo,
  username: "",
  password: "",
  database: "",
  size: 20 # The amount of database connections in the pool

# 其他第三方設定
config :ex_twitter, :oauth, [
   consumer_key: "",
   consumer_secret: "",
   access_token: "",
   access_token_secret: ""
]
config :basic_auth,
  username: "",
  password: ""
